@model IEnumerable<TeamProjectJoole.Models.FeedbackInfoVM>




@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback</h2>


<table>


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(Model => item.Feedback_ID)
                @Html.DisplayFor(Model => item.Feedback_Content)

                @*@Html.DisplayForModel(item.Product_Name)*@
            </td>
        </tr>
    }
</table>