@model IEnumerable<TeamProjectJoole.Models.FeedbackInfoVM>




@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback</h2>


<table cellpadding="2" cellspacing="0" border="1" style="margin-left:auto; margin-right: auto">


    @foreach (var item in Model)
    {
    <tr>
        <th width="100px" style="text-align: center">No.</th>
        <th width="100px" style="text-align: center">Product name</th>
        <th width="100px" style="text-align: center">User name</th>
        <th width="300px" style="text-align: center">Feedback content</th>
    </tr>

        <tr>
            <td>@Html.DisplayFor(Model => item.Feedback_ID)</td>
            <td>@Html.DisplayFor(Model => item.Product_Name)</td>
            <td>@Html.DisplayFor(Model => item.User_Name)</td>
            <td>@Html.DisplayFor(Model => item.Feedback_Content)</td>
        </tr>
    }
</table>
