@model IEnumerable<TeamProjectJoole.Models.TypeFilterInfoVM>


@{
    ViewBag.Title = "Types";
}

<h2>Types</h2>


<table>


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(Model => item.Property_ID)
                @Html.DisplayFor(Model => item.Type_name)

                @*@Html.DisplayForModel(item.Product_Name)*@
            </td>
        </tr>
    }
</table>